<mat-card>
  <h2>{{ formDef.name }}</h2>
  <p>{{ formDef.description }}</p>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <ng-container *ngFor="let el of formDef.pages[currentPage].elements">
      <app-question-host [question]="el.question" [form]="form"></app-question-host>
      <hr />
    </ng-container>

    <div class="nav">
      <button mat-button type="button" (click)="prev()" [disabled]="currentPage===0">Back</button>
      <span>Page {{ currentPage + 1 }} of {{ formDef.pages.length }}</span>
      <button mat-raised-button color="primary" type="button" (click)="next()" *ngIf="currentPage < formDef.pages.length - 1">Next</button>
      <button mat-raised-button color="accent" type="submit" *ngIf="currentPage === formDef.pages.length - 1">Submit</button>
    </div>
  </form>
</mat-card>
