<mat-card class="editor">
  <h4>New Question</h4>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="full">
      <mat-label>Id</mat-label>
      <input matInput formControlName="id" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full">
      <mat-label>Text</mat-label>
      <input matInput formControlName="text" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="text">Text</mat-option>
        <mat-option value="textarea">Textarea</mat-option>
        <mat-option value="radio">Radio</mat-option>
        <mat-option value="checkbox">Checkbox</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button type="button" (click)="dismissed.emit()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Add</button>
  </form>
</mat-card>
